$color: (
  beige: #fcf2e5,
  brown: #3E2723,
  red: #B23A48,
  yellow: #F2CB05,
);

h3 {
  margin: 2em 0;
};

.cart-table {
  width: 100%;
  display: flex;
  flex-direction: column;

  .cart-header {
    background-color: map-get($color, yellow);
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .row {
    display: flex;
    justify-content: space-between;
    .cell {
      display: flex;
      align-items: center;
      padding: 1em;
      width: calc(100%/6);
      justify-content: center;
      &:nth-child(1) {
        max-width: 50px;
      }
      img {
        width: 100%;
      }
    }
  }

  .cart-footer {
    background-color: bisque;
    display: flex;
    justify-content: right;
    padding: 1.25em 2em 1.25em 0;
    button {
      width: 5em;
      height: 3em;
    }
  }
}
