$color: (
  beige: #fcf2e5,
  brown: #3E2723,
  red: #B23A48,
  yellow: #F2CB05,
);

h3 {
  margin: 2em 0;
};

.cart-table {
  width: 100%;
  display: flex;
  flex-direction: column;

  .cart-header {
    background-color: map-get($color, yellow);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart-rows {
    display: flex;
    flex-direction: column;

    .no-items {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 5em 0;
    }

    .cart-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .cell {
      display: flex;
      align-items: center;
      padding: 1em;
      width: calc(100%/6);
      justify-content: center;
      &:nth-child(1) {
        max-width: 50px;
      }
      img {
        width: 100%;
        max-height: 100%;
      }
    }
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    .cell {
      display: flex;
      align-items: center;
      padding: 1em;
      width: calc(100%/6);
      justify-content: center;
      &:nth-child(1) {
        max-width: 50px;
      }
      img {
        width: 100%;
      }
    }
  }

  .cart-footer, .cart-end {
    background-color: bisque;
    display: flex;
    padding: 1.25em 2em 1.25em 1.25em;
    gap: 1em;
    justify-content: right;

    .cell {
      button {
        width: 6em;
        height: 3em;
        border: none;
        border-radius: 5%;
        background-color: map-get($color, yellow);
        transition: 0.25s ease-out;
        &:hover {
          cursor: pointer;
          color: #fff;
          background-color: map-get($color, red);
        }
      }
      &:nth-child(3) {
        margin-left: auto;
      }
    }
  }
}

/*태블릿 가로 : 769px-1023px*/
@media all and (min-width:768px) and (max-width:1023px){
  .cart-table {
      font-size: 14px;
    }
}

/*모바일 가로 & 태블릿 세로 : 480px-767px*/
@media all and (min-width:480px) and (max-width:767px){
.cart-table {
    font-size: 10px;
  }
}

/*모바일 : -479px*/
@media all and (max-width:479px){
  .cart-table {
      font-size: 9px;
    }
}
