#retro-shop-app {
  #right-container {
    main {
      display: flex;
      flex-direction: row !important;
      align-items: flex-start !important;
      flex-wrap: wrap;
      padding: 4em;

      #product-img {
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 100%;
          object-fit: contain;
        }
      }

      #product-info {
        flex: 1 1 0;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #product-buy {
          margin-top: 3em;
          display: flex;
          align-items: center;
        }
      }

      #product-detail {
        width: 100%;
        padding: 1em;
        padding-top: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          margin-bottom: 1em;
        }
      }
    }
  }
}


/*노트북 & 태블릿 가로 : 1024px-1279px*/
@media all and (min-width:1024px) and (max-width:1279px){
  #retro-shop-app {
    #right-container {
      main {
        display: flex;
        flex-direction: row !important;
        align-items: flex-start !important;
        flex-wrap: wrap;
        padding: 4em;

        #product-img {
          flex: 0 0 50%;
          img {
            max-width: 100%;
            object-fit: contain;
          }
        }

        #product-info {
          flex: 1 1 0;
          height: 500px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          #product-buy {
            margin-top: 3em;
            display: flex;
            align-items: center;
          }
        }

        #product-detail {
          width: 100%;
          padding: 1em;
          padding-top: 3em;
          display: flex;
          flex-direction: column;
          justify-content: center;

          span {
            margin-bottom: 1em;
          }
        }
      }
    }
  }
}

/*태블릿 가로 : 769px-1023px*/
@media all and (min-width:768px) and (max-width:1023px){
  #retro-shop-app {
    #right-container {
      main {
      display: flex;
      flex-direction: row !important;
      align-items: flex-start !important;
      flex-wrap: wrap;
      padding: 2em;

      #product-img {
        flex: 0 0 100%;
        justify-content: center;
        align-items: center;
        img {
          max-width: 100%;
          object-fit: contain;
        }
      }

      #product-info {
        flex: 1 1 0;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #product-buy {
          margin-top: 1em;
          display: flex;
          align-items: center;
        }
      }

      #product-detail {
        width: 100%;
        padding: 1em;
        padding-top: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          margin-bottom: 1em;
        }
      }
    }
  }
  }
}

/*모바일 가로 & 태블릿 세로 : 480px-767px*/
@media all and (min-width:480px) and (max-width:767px){
  #retro-shop-app {
  #right-container {
  main {
    display: flex;
    flex-direction: row !important;
    align-items: flex-start !important;
    flex-wrap: wrap;
    padding: 2em;

    #product-img {
      flex: 0 0 100%;
      justify-content: center;
      align-items: center;
      img {
        height: 400px;
        max-width: 100%;
        object-fit: contain;
      }
    }

    #product-info {
      flex: 1 1 0;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #product-buy {
        margin-top: 1em;
        display: flex;
        align-items: center;
      }
    }

    #product-detail {
      width: 100%;
      padding: 1em;
      padding-top: 3em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        margin-bottom: 1em;
      }
    }
  }
}
}
}

/*모바일 : -479px*/
@media all and (max-width:479px){
  #retro-shop-app {
  #right-container {
  main {
    display: flex;
    flex-direction: row !important;
    align-items: flex-start !important;
    flex-wrap: wrap;
    padding: 2em;

    #product-img {
      flex: 0 0 100%;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
        object-fit: contain;
      }
    }

    #product-info {
      flex: 1 1 0;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #product-buy {
        margin-top: 1em;
        display: flex;
        align-items: center;
      }
    }

    #product-detail {
      width: 100%;
      padding: 1em;
      padding-top: 3em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        margin-bottom: 1em;
      }
    }
  }
}
}}
