$color: (
  beige: #fcf2e5,
  brown: #3E2723,
  red: #B23A48,
  yellow: #F2CB05,
);

@font-face {
    font-family: 'Taenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: map-get($color, brown);
  font-family: 'Taenada';
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: map-get($color, brown);
}

#retro-shop-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;

  #left-container {
    flex: 0 0 20%;
    height: 95%;
    display: flex;
    align-items: center;
    background-color: map-get($color, beige);
    justify-content: center;
    flex-direction: column;
    img {
        max-width: 100%;
    }
    div {
      background-color: map-get($color, yellow);
      padding: .5em 1em;
      border-radius: 5%;
      &:hover {
        background-color: map-get($color, red);
        cursor: pointer;
        transition: .25s ease-out;
        a {
          span {
          color: white;
          }
        }
      }
    }
  }

  #right-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    height: 95%;

    nav {
      height: 5%;
      padding:2em 0 1.5em 0;
      background-color: map-get($color, beige);
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        align-items: center;
        gap: 8em;
        height: 100%;
        a {
          cursor: pointer;
          &:nth-child(2) {
            color: map-get($color, red);
            font-weight: 700;
          }
        }
      }
    }

    main {
      height: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: map-get($color, beige);
      flex-direction: column;
      overflow-y: scroll;
      padding: 3em;
      justify-content: flex-start;
      .row {
        display: flex;
        flex-wrap: wrap;
        .item {
          padding: 1em;
          flex-basis: 25%;
          flex-shrink: 0;
          flex-grow: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          background-color: map-get($color, beige);
          img {
            max-width: 100%;
            margin-bottom: .5em;
          }
          h3 {
            width: 100%;
          }
          h4 {
            width: 100%;
            margin-bottom: .5em;
          }
          div {
            display: flex;
            width: 100%;
            justify-content: space-between;
          }
        }
      }
    }
  }
  footer {
    flex-basis: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($color, yellow);
  }
}

#login-btn {
    width: 5em;
    height: 5em;
    background-color: map-get($color, yellow);
    position: fixed;
    right: 30px;
    bottom: 80px;
    border-radius: 50%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .3em;
    cursor: pointer;
    &:hover {
        background-color: map-get($color, red);
        color: white;
        cursor: pointer;
        transition: .25s ease-out;
      }
  }

#login-popup {
  background-color: rgba(map-get($color, brown), 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -1;
  transition: opacity .25s ease;

  #login-container {
    width: 20%;
    height: 30%;
    background-color: map-get($color, beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    input {
      width: 80%;
      height: 20%;
      padding-left: .5em;
      border: none;
      &:nth-child(2){
        margin-bottom: .5em;
        border-top: 3px solid map-get($color, beige);
      }
    }

    button {
      width: 80%;
      border: none;
      background-color: map-get($color, yellow);
      padding: .5em 0;
      cursor: pointer;
    }
  }
}

/*노트북 & 태블릿 가로 : 1024px-1279px*/
@media all and (min-width:1024px) and (max-width:1279px){
  #retro-shop-app {
    flex-direction: column;

    #left-container {
      width: 100%;
      height: 10%;
      flex-direction: row;
      img {
        content: url("../img/main-logo-2.png");
        width: 20%;
      }
      div {
        display: none;
      }
    }

    #right-container {
      width: 100%;
      flex: 1 1 0;
      overflow: auto;
      nav {
        ul {
          gap: 5em;
        }
      }
      main {
        .row {
          .item {
            flex: 0 0 calc(100% / 3);
            div {
              justify-content: right;
              padding-right: 1em;
            }
          }
        }
      }
    }

    footer {
      flex: 0 0 auto;
    }
  }
}

/*태블릿 가로 : 769px-1023px*/
@media all and (min-width:768px) and (max-width:1023px){
  #retro-shop-app {
    flex-direction: column;

    #left-container {
      width: 100%;
      height: 10%;
      flex-direction: row;
      img {
        content: url("../img/main-logo-2.png");
        width: 20%;
      }
      div {
        display: none;
      }
    }

    #right-container {
      width: 100%;
      flex: 1 1 0;
      overflow: auto;
      nav {
        ul {
          gap: 4em;
        }
      }
      main {
        .row {
          .item {
            flex: 0 0 calc(100% / 2);
            div {
              justify-content: right;
              padding-right: 1.35em;
            }
          }
        }
      }
    }

    footer {
      flex: 0 0 auto;
    }
  }
  #login-popup {
    #login-container {
      width: 30%;
      height: 30%;

      button {
        padding: .8em 0;
      }
    }
  }
}

/*모바일 가로 & 태블릿 세로 : 480px-767px*/
@media all and (min-width:480px) and (max-width:767px){
  #retro-shop-app {
    flex-direction: column;

    #left-container {
      width: 100%;
      height: 10%;
      flex-direction: row;
      img {
        content: url("../img/main-logo-2.png");
        width: 30%;
      }
      div {
        display: none;
      }
    }

    #right-container {
      width: 100%;
      flex: 1 1 0;
      overflow: auto;
      nav {
        ul {
          gap: 2em;
        }
      }
      main {
        .row {
          .item {
            flex: 0 0 100%;
            div {
              justify-content: right;
              padding-right: 2em;
            }
          }
        }
      }
    }

    footer {
      flex: 0 0 auto;
    }
  }
  #login-popup {
  #login-container {
      width: 50%;
      height: 40%;

      button {
        padding: .8em 0;
      }
    }
  }
}

/*모바일 : -479px*/
@media all and (max-width:479px){
  #retro-shop-app {
    flex-direction: column;

    #left-container {
      width: 100%;
      height: 10%;
      flex-direction: row;
      img {
        content: url("../img/main-logo-2.png");
        width: 40%;
      }
      div {
        display: none;
      }
    }

    #right-container {
      width: 100%;
      flex: 1 1 0;
      overflow: auto;
      nav {
        ul {
          gap: 1em;
        }
      }
      main {
        .row {
          .item {
            flex: 0 0 100%;
            div {
              justify-content: right;
              padding-right: .25em;
            }
          }
        }
      }
    }

    footer {
      flex: 0 0 auto;
    }
  }
  #login-popup {
    #login-container {
      width: 50%;
      height: 40%;

      button {
        padding: .8em 0;
      }
    }
  }
}
