@charset "UTF-8";
@font-face {
  font-family: "Taenada";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #3E2723;
  font-family: "Taenada";
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #3E2723;
}

#retro-shop-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
}
#retro-shop-app #left-container {
  flex: 0 0 20%;
  height: 95%;
  display: flex;
  align-items: center;
  background-color: #fcf2e5;
  justify-content: center;
  flex-direction: column;
}
#retro-shop-app #left-container img {
  max-width: 100%;
}
#retro-shop-app #left-container div {
  background-color: #F2CB05;
  padding: 0.5em 1em;
  border-radius: 5%;
}
#retro-shop-app #left-container div:hover {
  background-color: #B23A48;
  cursor: pointer;
  transition: 0.25s ease-out;
}
#retro-shop-app #left-container div:hover a span {
  color: white;
}
#retro-shop-app #right-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  height: 95%;
}
#retro-shop-app #right-container nav {
  height: 5%;
  padding: 2em 0 1.5em 0;
  background-color: #fcf2e5;
}
#retro-shop-app #right-container nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 8em;
  height: 100%;
}
#retro-shop-app #right-container nav ul a {
  cursor: pointer;
}
#retro-shop-app #right-container nav ul a:nth-child(2), #retro-shop-app #right-container nav ul a:nth-child(6) {
  color: #B23A48;
  font-weight: 700;
}
#retro-shop-app #right-container nav ul a .hidden {
  display: none;
  padding-bottom: 0.35em;
}
#retro-shop-app #right-container main {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: left;
  background-color: #fcf2e5;
  flex-direction: column;
  overflow-y: scroll;
  padding: 3em;
  justify-content: flex-start;
}
#retro-shop-app #right-container main .row {
  display: flex;
  flex-wrap: wrap;
}
#retro-shop-app #right-container main .row .item {
  padding: 1em;
  flex-basis: 25%;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #fcf2e5;
}
#retro-shop-app #right-container main .row .item img {
  cursor: pointer;
  max-width: 100%;
  margin-bottom: 0.5em;
}
#retro-shop-app #right-container main .row .item h3 {
  cursor: pointer;
  width: 100%;
}
#retro-shop-app #right-container main .row .item h4 {
  cursor: pointer;
  width: 100%;
  margin-bottom: 0.5em;
}
#retro-shop-app #right-container main .row .item div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#retro-shop-app #right-container main .row .item div span {
  cursor: pointer;
}
#retro-shop-app footer {
  flex-basis: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2CB05;
}

#login-btn {
  width: 5em;
  height: 5em;
  background-color: #F2CB05;
  position: fixed;
  right: 30px;
  bottom: 80px;
  border-radius: 50%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.3em;
  cursor: pointer;
}
#login-btn:hover {
  background-color: #B23A48;
  color: white;
  cursor: pointer;
  transition: 0.25s ease-out;
}

#login-popup {
  background-color: rgba(62, 39, 35, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.25s ease;
}
#login-popup #login-container {
  width: 20%;
  height: 30%;
  background-color: #fcf2e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
#login-popup #login-container input {
  width: 80%;
  height: 20%;
  padding-left: 0.5em;
  border: none;
}
#login-popup #login-container input:nth-child(2) {
  margin-bottom: 0.5em;
  border-top: 3px solid #fcf2e5;
}
#login-popup #login-container button {
  width: 80%;
  border: none;
  background-color: #F2CB05;
  padding: 0.5em 0;
  cursor: pointer;
}

/*노트북 & 태블릿 가로 : 1024px-1279px*/
@media all and (min-width: 1024px) and (max-width: 1279px) {
  #retro-shop-app {
    flex-direction: column;
  }
  #retro-shop-app #left-container {
    width: 100%;
    height: 10%;
    flex-direction: row;
  }
  #retro-shop-app #left-container a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #retro-shop-app #left-container a img {
    content: url("../img/main-logo-2.png");
    width: 20%;
  }
  #retro-shop-app #left-container div {
    display: none;
  }
  #retro-shop-app #right-container {
    width: 100%;
    flex: 1 1 0;
    overflow: auto;
  }
  #retro-shop-app #right-container nav ul {
    gap: 5em;
  }
  #retro-shop-app #right-container nav ul a .hidden {
    display: block;
  }
  #retro-shop-app #right-container main .row .item {
    flex: 0 0 33.3333333333%;
  }
  #retro-shop-app #right-container main .row .item div {
    justify-content: right;
    padding-right: 1em;
  }
  #retro-shop-app footer {
    flex: 0 0 auto;
  }
}
/*태블릿 가로 : 769px-1023px*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  #retro-shop-app {
    flex-direction: column;
  }
  #retro-shop-app #left-container {
    width: 100%;
    height: 10%;
    flex-direction: row;
  }
  #retro-shop-app #left-container a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #retro-shop-app #left-container a img {
    content: url("../img/main-logo-2.png");
    width: 20%;
  }
  #retro-shop-app #left-container div {
    display: none;
  }
  #retro-shop-app #right-container {
    width: 100%;
    flex: 1 1 0;
    overflow: auto;
  }
  #retro-shop-app #right-container nav ul {
    gap: 4em;
  }
  #retro-shop-app #right-container nav ul a .hidden {
    display: block;
  }
  #retro-shop-app #right-container main .row .item {
    flex: 0 0 50%;
  }
  #retro-shop-app #right-container main .row .item div {
    justify-content: right;
    padding-right: 1.35em;
  }
  #retro-shop-app footer {
    flex: 0 0 auto;
  }
  #login-popup #login-container {
    width: 30%;
    height: 30%;
  }
  #login-popup #login-container button {
    padding: 0.8em 0;
  }
}
/*모바일 가로 & 태블릿 세로 : 480px-767px*/
@media all and (min-width: 480px) and (max-width: 767px) {
  #retro-shop-app {
    flex-direction: column;
  }
  #retro-shop-app #left-container {
    width: 100%;
    height: 10%;
    flex-direction: row;
  }
  #retro-shop-app #left-container a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #retro-shop-app #left-container a img {
    content: url("../img/main-logo-2.png");
    width: 30%;
  }
  #retro-shop-app #left-container div {
    display: none;
  }
  #retro-shop-app #right-container {
    width: 100%;
    flex: 1 1 0;
    overflow: auto;
  }
  #retro-shop-app #right-container nav ul {
    gap: 2em;
  }
  #retro-shop-app #right-container nav ul a .hidden {
    display: block;
  }
  #retro-shop-app #right-container main .row .item {
    flex: 0 0 100%;
  }
  #retro-shop-app #right-container main .row .item div {
    justify-content: right;
    padding-right: 2em;
  }
  #retro-shop-app footer {
    flex: 0 0 auto;
  }
  #login-popup #login-container {
    width: 50%;
    height: 40%;
  }
  #login-popup #login-container button {
    padding: 0.8em 0;
  }
}
/*모바일 : -479px*/
@media all and (max-width: 479px) {
  #retro-shop-app {
    flex-direction: column;
  }
  #retro-shop-app #left-container {
    width: 100%;
    height: 10%;
    flex-direction: row;
  }
  #retro-shop-app #left-container a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #retro-shop-app #left-container a img {
    content: url("../img/main-logo-2.png");
    width: 40%;
  }
  #retro-shop-app #left-container div {
    display: none;
  }
  #retro-shop-app #right-container {
    width: 100%;
    flex: 1 1 0;
    overflow: auto;
  }
  #retro-shop-app #right-container nav ul {
    gap: 1em;
  }
  #retro-shop-app #right-container nav ul a .hidden {
    display: block;
  }
  #retro-shop-app #right-container main {
    padding: 1.25em;
  }
  #retro-shop-app #right-container main .row .item {
    flex: 0 0 100%;
  }
  #retro-shop-app #right-container main .row .item div {
    justify-content: right;
    padding-right: 0.25em;
  }
  #retro-shop-app footer {
    flex: 0 0 auto;
  }
  #login-popup #login-container {
    width: 50%;
    height: 40%;
  }
  #login-popup #login-container button {
    padding: 0.8em 0;
  }
}/*# sourceMappingURL=style.css.map */